.form-container {
  display: flex;
  justify-content: center;
  height: 100vh;
  background-color: #2a1067;
}

.form-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 100px;
  max-width: 1000px;
  box-shadow: inset 0 -3em 3em #0c0c0cbd, 0.3em 0.3em 1em #0c0c0cbd;
  border-radius: 5px;
}

.form-container-image {
  background: url(../../../assets/images/books.jpg);
  background-color: #7945e5 !important;
  background-blend-mode: darken;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 5px 0 0 5px;
  padding: 20px;
}

.form-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #040523;
  width: 50%;
  height: 100%;
  border-radius: 0 5px 5px 0;
}

.form-text {
  color: white;
  font-size: 20px;
  margin: 20px 70px;
}

.form-title-image {
  color: white;
  font-size: 45px;
  margin-bottom: 15px;
}

.icon-books {
  font-size: 370px;
  color: white;
  max-width: 400px;
}

.form-login {
  padding: 0 50px;
  color: white;
}

.form-input {
  margin: 10px 0;
  padding: 10px;
  border: none;
  border-radius: 5px;
  background-color: #040523;
  border: 1px solid #7945e5;
  color: white;
  font-size: 15px;
}

.form-title {
  color: white;
  font-size: 35px;
  margin-bottom: 15px;
}

.submit-button {
  margin-top: 20px;
  background-color: #7945e5;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 10px;
  font-size: 15px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #7945e5cc;
}

.form-error-text {
  color: #7945e5;
  font-size: 15px;
  margin-bottom: 10px;
}

.submit-button[disabled] {
  background-color: #7945e580;
  cursor: not-allowed;
}
